* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
}

body h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

body A {
    color: white;
    text-decoration: none;
}

body p {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/

.fullPage {
    height: 100vh
}

.home {
    background-image: url("../images/background/blog\ bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;
}
.home .landing{
    min-height: 80vw;
}
.home .landing .title {
    padding-top: 25vh;
    color: var(--unnamed-color-0b131e);
    text-align: left;
    font: normal normal bold 68px Roboto;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}

.rightPadding {
    padding-right: 15%;
}

.leftPadding {
    padding-left: 15%;
}

.nonLanding {
    background-image: url("../images/background/footer\ white.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.black {
    color: black!important;
}
.post{
    min-height: 70vh;
}
.post-line{
    border-bottom: #707070 1px solid;
    opacity: 0.4;
    filter: blur(2px);
    width: 80vw;
    margin-left: 10%;
}
.postContainer .post .date {
    text-align: left;
    font: normal normal 600 18px/30px Inter;
    letter-spacing: 0px;
    color: #00B0CE;
    opacity: 1;
}

.postContainer .post .title {
    max-width: 27ch;
    text-align: left;
    font: normal normal 600 22px/30px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}

.postContainer .post .description {
    max-width: 37ch;
    text-align: left;
    font: normal normal 600 16px/32px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 0.8;
}

.postContainer .post .linkToPost {
    text-align: left;
    font: normal normal 300 16px/32px Inter;
    letter-spacing: 0px;
    color: #00B0CE;
    opacity: 1;
    cursor:pointer;
}

/*-------------------------------------------------- Seccion footer--------------------------------------------------*/

ul.social {
    width: 100%;
    text-align: start;
    padding-bottom: 10%;
}

ul.social>li {
    display: inline-block;
}

ul.social>li>a {
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 36px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    margin: 0 3px 3px 0;
}

ul.social>li>a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.footer{
    min-height:180vh ;
}