* {
	box-sizing: border-box;
	font-family: 'Montserrat';
}
.min-100vh {
	min-height: 100vh;
}
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body h1 {
	font-weight: bold;
	text-align: end;
	color: black;
}

body h2 {
	color: var(--unnamed-color-0b131e);
	text-align: end;
	font: normal normal 300 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
}

body A {
	color: white;
	text-decoration: none;
}

body p {
	color: black;
	text-decoration: none;
	text-align: end;
}

/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/
.home {
	background-color: white;
}
.d-flex {
	display: flex;
}

.min-80vh {
	min-height: 80vh;
}
/*--------------------------------------------------Media Query pilotoPrivado --------------------------------------------------DONE*/
.home {
	background: rgb(254, 254, 254);
	background-position: bottom;
	background-image: url("../images/background/footer white.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.gradientBackground {
	background: rgb(254, 254, 254);
	background: transparent linear-gradient(0deg, #FFFFFFCE 0%, #A0BFD0CE 100%) 0% 0% no-repeat padding-box;
	background-size: cover;
	background-repeat: no-repeat;
}

.coverPage .left h1 {
	text-align: right;
	font: normal normal bold 62px/78px Roboto;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
}

.coverPage .right {
	max-width: 44ch;
	color: var(--unnamed-color-0b131e);
	text-align: left;
	font: normal normal 300 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
}

.coverPage .left p {
	text-align: right;
	font: normal normal bold 16px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
}

.comercial .coverPage {
	background-image: url(../images/background/Background\ 03-test.png);
	background-repeat: no-repeat, repeat;
	background-position: center left;
}

.instructor .descripcion .container {
	min-height: auto;
	padding-bottom: 20%;
}

.instructor .descripcion .row {
	top: 0;
}

.instructor .descripcion {
	min-height: auto;
	top: 0;
}

.instructor .descripcion .right {
	border-top: 0px;
	float: right;
}

.instructor .descripcion .right {
	padding-left: auto;
}

.descripcion .container {
	min-height: 100vh;
}

.descripcion h1 {
	color: var(--unnamed-color-0b131e);
	text-align: left;
	font: normal normal bold 40px Roboto;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
}

.descripcion h2 {
	text-align: start;
	color: var(--unnamed-color-0b131e);
	font: normal normal 300 16px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
}

.descripcion .texto {
	text-align: start;
	font: normal normal bold 22px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
	padding-left: 0;
}

.descripcion .number {
	margin-left: 2em;
	float: inline-end;
	text-align: end;
	font: normal normal bold 22px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
}

.descripcion .lead {
	border-top: 1px solid rgb(211, 211, 211);
	color: var(--unnamed-color-0b131e);
	text-align: left;
	font: normal normal 300 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
}

.descripcion .one {
	margin-top: 4rem;
	display: flex;
}

.descripcion .two {
	display: none;
	margin-top: 4rem;
}

.privado .descripcion .one {
	margin-top: 4rem;
	display: flex;
}

.privado .descripcion .two {
	max-height: 0px;
	overflow: hidden;
	margin-top: 4rem;
	display: flex;
	opacity: 0;
	transition: 0.5s all ease-in-out;
	position: relative;
}

.comercial .descripcion .one {
	margin-top: 4rem;
	display: flex;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	transition: 0.5s all;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.comercial .descripcion .two,
.comercial .descripcion .three,
.comercial .descripcion .four {
	margin-top: 4rem;
	display: flex;
	opacity: 0;
	transition: 0.5s all;
	position: absolute;
	visibility: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.comercial .descripcion .one.active,
.comercial .descripcion .two.active,
.comercial .descripcion .three.active,
.comercial .descripcion .four.active {
	opacity: 1;
	position: static;
	visibility: visible;
	transition: 0.5s all 0.5s;
}

.privado .descripcion .two.active {
	max-height: 100vh;
	opacity: 1;
}

.descripcion .three {
	display: none;
	margin-top: 4rem;
}

.descripcion .two .item1 {
	display: block;
}

.descripcion .two .item2 {
	display: none;
}

.privado .descripcion .two .item {
	position: absolute;
	display: block;
	opacity: 0;
	transition: 0.25s all;
}

.comercial .descripcion .two .item {
	max-width: 54ch;
	font-size: 16px;
	width: 100%;
}

.privado .descripcion .two .item.active {
	position: absolute;
	display: block;
	opacity: 1;
	transition: 0.25s all 0.25s;
}
.privado .descripcion .two .item.placeholder {
	position: relative;
	opacity: 1;
}
.privado .descripcion .two .item.placeholder .titulo,
.privado .descripcion .two .item.placeholder .lead {
	opacity: 0;
}

.descripcion .chevron-left {
	width: auto;
	position: absolute;
	right: 0;
	top: 50%;
	transform: rotate(0deg);
	transition: all 0.5s;
	opacity: 0;
}
.descripcion .chevron-left.rotated {
	transform: rotate(0deg);
}

.descripcion .chevron-right {
	width: auto;
	position: absolute;
	left: 0;
	top: 50%;
	transform: rotate(180deg);
	transition: all 0.5s;
	opacity: 0;
}

.descripcion .chevron-left.active,
.descripcion .chevron-right.active {
	opacity: 1;
	cursor: pointer;
}

.descripcion .privado-chevron-left {
	width: auto;
	position: absolute;
	right: 0;
	top: 50%;
	transform: rotate(0deg);
	cursor: pointer;
	transition: all 0.5s;
	opacity: 1;
}

.descripcion .privado-chevron-left.rotated {
	transform: rotate(180deg);
}

.descripcion .circles .circle {
	display: inline-block;
	padding: 3px 0;
	width: 8px;
	height: 8px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
	border-radius: 50%;
	transition: .7s all;
}

.descripcion .circles .circle.active {
	background: #00b0ce 0% 0% no-repeat padding-box;
	border: 1px solid #00b0ce;
}

.descripcion .button {
	padding: 1rem 1.2rem 1rem 1.2rem;
	background-color: gray;
	border-radius: 2rem;
}

.descripcion .showInfo {
	display: flex;
	align-items: center;
	margin-top: 32px;
}

.descripcion .showInfo .button {
	padding: 0;
	background-color: transparent;
	width: 30px;
	display: block;
	transition: 0.5s all;
	cursor: pointer;
	margin-right: 8px;
}
.descripcion .showInfo.active .button {
	transform: rotate(90deg);
}

.descripcion .showInfo .text {
	text-align: left;
	font: normal normal 300 16px/32px Inter;
	letter-spacing: 0px;
	color: #35bbd7;
	opacity: 1;
}

/*-------------------------------------------------- Media Query --------------------------------------------------TODO*/

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (max-width: 768px) {
	.coverPage .left h1 {
		text-align: center;
	}
	body h1 {
		text-align: center;
	}
	body p {
		text-align: end;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none !important;
	}
	.coverPage .container-fluid {
		min-height: 100vh;
	}

	.descripcion .container {
		min-height: 100vh;
	}

	.descripcion h1 {
		text-align: start;
	}

	.descripcion h2 {
		text-align: start;
	}

	.descripcion .lead {
		text-align: start;
		line-height: 2rem;
	}
	.descripcion .one {
		margin-top: 4rem;
	}

	.descripcion .two {
		margin-top: 4rem;
	}

	.descripcion .three {
		display: none;
		margin-top: 4rem;
	}
	.comercial .coverPage {
		background-image: none;
		background-repeat: no-repeat, repeat;
		background-position: center left;
	}
	.home {
		background-image: none;
		background-color: transparent;
	}
	body {
		background: rgb(254, 254, 254);
		background-position: bottom;
		background-image: url("../images/background/fondo\ mobile.png");
		background-size: cover;
		background-repeat: no-repeat;
	}

	.gradientBackground {
		background-image: none;
		background-color: transparent;
	}
	.mobile.margin {
		margin-left: 37px;
		margin-right: 37px;
	}
	.mobile .margin {
		margin-left: 37px;
		margin-right: 37px;
	}
	.coverPage .mobile .title {
		text-align: left;
		font: normal normal 400 34px/42px Roboto;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 1;
	}
	.coverPage .mobile .subtitle {
		text-align: left;
		font: normal normal 300 16px/28px Inter;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 1;
	}
	.coverPage .mobile .text {
		text-align: left;
		font: normal normal 300 15px/28px Inter;
		letter-spacing: 0px;
		color: #707070;
		opacity: 0.7;
	}
	.descripcion .mobile .title {
		text-align: left;
		font: normal normal bold 20px/42px Inter;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 1;
	}
	.descripcion .mobile .subtitle {
		text-align: left;
		font: normal normal 300 12px/28px Inter;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 1;
	}
	.descripcion .mobile .titleAsCover {
		text-align: left;
		font: normal normal 400 34px/42px Roboto;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 1;
		margin-bottom: 27px;
	}
	.descripcion .mobile .subtitleAsCover {
		text-align: left;
		font: normal normal 300 16px/28px Inter;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 1;
		margin-bottom: 35px;
	}
	.descripcion .mobile .accordion-item {
		border-bottom: none;
		background-color: transparent;
	}
	.descripcion .mobile .accordion-body p {
		text-align: left;
		font: normal normal 300 15px/27px Inter;
		opacity: 0.7;
	}
	.descripcion .mobile .accordion-body h3 {
		color: #00b0ce;
		font: normal normal bold 15px/22px Inter;
		border-bottom: black 1px solid;
		margin-left: 37px;
	}
	.descripcion .mobile .accordion-body .list {
		padding: 0;
		margin-bottom: 0;
		list-style-position: outside;
		list-style-image: url("../images/components/itemdot.png");
	}
	.descripcion .mobile .accordion-body .list-inside {
		padding: 0;
		margin-bottom: 0;
		list-style-position: inside;
		list-style-image: url("../images/components/itemdot.png");
	}
	.descripcion .mobile .accordion-body .list li,
	.descripcion .mobile .accordion-body .list-inside li {
		font: normal normal 300 15px/27px Inter;
		color: #707070;
	}
	.descripcion .mobile .accordion-button {
		background: #00B0CE7d 0% 0% no-repeat padding-box;
		border: none;
		margin: 0;
		font: normal normal 300 14px Inter;
		letter-spacing: 0px;
		color: #0a1627;
		opacity: 1;
	}
	.descripcion .mobile .accordion-button.collapsed {
		background: #94aacb33 0% 0% no-repeat padding-box;
		border: 1px solid #0A162733;
		margin: 0;
		color: #0A1627ee;
	}

	.descripcion .mobile .accordion-button::after {
		flex-shrink: 0;
		width: 0.5rem;
		height: 0.5rem;
		margin-left: auto;
		content: "";
		background-size: 0.5rem;
		transition: transform .2s ease-in-out;
	}
	.descripcion .mobile .carousel-item {
		transition: all 0.5s;
		margin-bottom: 1rem;
	}

	.carousel-dark .carousel-indicator {
		background-color: #e8e8e8 !important;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		opacity: 1;
		transition: background-color 0.5s;
	}
	.carousel-dark .carousel-indicator.active {
		background-color: #00b0ce !important;
	}
	.carousel-indicators {
		transform: translateY(100%);
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body h1 {
		text-align: end;
	}

	body p {
		text-align: end;
	}

	.coverPage .container-fluid {
		min-height: 100vh;
	}
	.mobile {
		display: none;
	}

	.descripcion .container {
		min-height: 100vh;
	}

	.descripcion h1 {
		text-align: start;
	}

	.descripcion h2 {
		text-align: start;
	}

	.descripcion .lead {
		text-align: start;
		line-height: 2rem;
	}

	.descripcion .one {
		margin-top: 4rem;
	}

	.descripcion .two {
		margin-top: 4rem;
	}

	.descripcion .three {
		display: none;
		margin-top: 4rem;
	}
}

/* Large devices (laptops/desktops, 1050px and up) */
@media only screen and (min-width: 992px) {
	body h1 {
		text-align: end;
	}

	body p {
		text-align: end;
	}

	.coverPage .container-fluid {
		min-height: 100vh;
	}

	.descripcion .container {
		min-height: 100vh;
	}

	.descripcion h1 {
		text-align: start;
	}

	.descripcion h2 {
		text-align: start;
	}

	.descripcion .lead {
		text-align: start;
		line-height: 2rem;
	}

	.descripcion .one {
		margin-top: 4rem;
	}

	.descripcion .two {
		margin-top: 4rem;
	}

	.descripcion .three {
		display: none;
		margin-top: 4rem;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body h1 {
		text-align: end;
	}

	body p {
		text-align: end;
	}

	.coverPage .container-fluid {
		min-height: 100vh;
	}

	.descripcion .container {
		min-height: 100vh;
	}

	.descripcion h1 {
		text-align: start;
	}

	.descripcion h2 {
		text-align: start;
	}

	.descripcion .lead {
		text-align: start;
		line-height: 2rem;
	}

	.descripcion .one {
		margin-top: 4rem;
	}

	.descripcion .two {
		margin-top: 4rem;
	}

	.descripcion .three {
		display: none;
		margin-top: 4rem;
	}
}
