* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.min-100vh{
    min-height:100vh;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body h1 {
    font-weight: bold;
    text-align: end;
    color: black;
}

body h2 {
    color: var(--unnamed-color-0b131e);
    text-align: end;
    font: normal normal 300 16px/32px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}

body A {
    color: white;
    text-decoration: none;
}

body p {
    color: black;
    text-decoration: none;
    text-align: end;
}

/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/
.home {
    background-color: white;
}
.d-flex{
    display: flex;
}
/*--------------------------------------------------Media Query pilotoPrivado --------------------------------------------------DONE*/
.footerBlack{
    color: hsl(0, 0%, 0%)!important;
}
.home{
    background: rgb(254, 254, 254);
    background-position: bottom;
    background-image: url("../images/background/footer.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.gradientBackground {
    background: rgb(254, 254, 254);
    background: linear-gradient(0deg, rgba(254, 254, 254, 1) 29%, rgba(234, 244, 244, 1) 61%, rgba(208, 231, 231, 1) 100%);
    background-image: url("../images/background/header white@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.coverPage .left h1 {
    text-align: right;
    font: normal normal bold 62px/78px Roboto;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}

.coverPage .right {
    max-width: 44ch;
    color: var(--unnamed-color-0b131e);
    text-align: left;
    font: normal normal 300 16px/32px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}

.coverPage .left p {
    text-align: right;
    font: normal normal bold 16px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}

.comercial .coverPage {
    background-image: url(https://raw.githubusercontent.com/MarcosParengo/Proflight/master/menu-categories/programas/assets/images/background/Background%2003-test.png);
    background-repeat: no-repeat, repeat;
    background-position: center left;
}


.instructor .descripcion .container {
    height: auto;
    padding-bottom: 20%;
}

.instructor .descripcion .row {
    top: 0;
}

.instructor .descripcion {
    height: auto;
    top: 0;
}

.instructor .descripcion .right {
    border-top: 0px;
    float: right;
}

.instructor .descripcion .right {
    padding-left: auto;
}


.descripcion .container {
    height: 100vh;
}

.descripcion h1 {
    color: var(--unnamed-color-0b131e);
    text-align: left;
    font: normal normal bold 40px Roboto;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;}

.descripcion h2 {
    text-align: start;
    color: var(--unnamed-color-0b131e);
    font: normal normal 300 16px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}


.descripcion .texto {
    text-align: start;
    font: normal normal bold 22px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
    padding-left: 0;
}

.descripcion .number {
    margin-left: 2em;
    float: inline-end;
    text-align: end;
    font: normal normal bold 22px Inter;
    letter-spacing: 0px;
    color: #00B0CE;
    opacity: 1;
}

.descripcion .lead {
    border-top: 1px solid rgb(211, 211, 211);
    color: var(--unnamed-color-0b131e);
    text-align: left;
    font: normal normal 300 16px/32px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}

.descripcion .one {
    margin-top: 4rem;
    display: flex;
}

.descripcion .two {
    display: none;
    margin-top: 4rem;
}

.descripcion .three {
    display: none;
    margin-top: 4rem;
}

.descripcion .two .item1 {
    display: show;
}

.descripcion .two .item2 {
    display: none;
}

.descripcion .button {
    padding: 1rem 1.2rem 1rem 1.2rem;
    background-color: gray;
    border-radius: 2rem;
}

/*-------------------------------------------------- Media Query --------------------------------------------------TODO*/
/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */
@media only screen and (max-width: 392px) {
    body h1 {
        text-align: center;

    }

    body p {
        text-align: center;
    }

    .coverPage .container-fluid {
        padding-top: 50%;
        height: auto;
    }

    .descripcion .container {
        height: auto;
    }

    .descripcion h1 {
        text-align: center;
    }

    .descripcion h2 {
        text-align: center;
        padding-bottom: 0%;
    }

    .descripcion .lead {
        text-align: start;
        line-height: 2rem;
    }

    .descripcion .one {
        margin-top: 4rem;
    }

    .descripcion .two {
        margin-top: 4rem;
    }

    .descripcion .three {
        display: none;
        margin-top: 4rem;
    }

    .instructor .descripcion .right {
        border-top: 0px;
        float: none;
    }

    .instructor .descripcion .left {
        padding-left: 5%
    }

}

/*ultra Small devices (portrait tablets and large phones, 392px and up) */
@media only screen and (min-width: 392px) {
    body h1 {
        text-align: center;
    }

    body p {
        text-align: center;
    }

    .coverPage .container-fluid {
        height: 100vh;
    }


    .descripcion .container {
        height: 100vh;
    }

    .descripcion h1 {
        text-align: center;
    }

    .descripcion h2 {
        text-align: center;
    }


    .descripcion .lead {
        color: var(--secondary-color);
        text-align: start;
        line-height: 2rem;
    }

    .descripcion .one {
        margin-top: 4rem;
    }

    .descripcion .two {
        margin-top: 4rem;
    }

    .descripcion .three {
        display: none;
        margin-top: 4rem;
    }

    .instructor .descripcion .right {
        border-top: 0px;
        float: none;
    }

    .instructor .descripcion .left {
        padding-left: 5%
    }

}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    body h1 {
        text-align: end;
    }
    body p {
        text-align: end;
    }

    .coverPage .container-fluid {
        height: 100vh;
    }

    .descripcion .container {
        height: 100vh;
    }

    .descripcion h1 {
        text-align: start;
    }

    .descripcion h2 {
        text-align: start;
    }

    .descripcion .lead {
        text-align: start;
        line-height: 2rem;
    }



    .descripcion .one {
        margin-top: 4rem;
    }

    .descripcion .two {
        margin-top: 4rem;
    }

    .descripcion .three {
        display: none;
        margin-top: 4rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body h1 {
        text-align: end;
    }

    body p {
        text-align: end;
    }

    .coverPage .container-fluid {
        height: 100vh;
    }



    .descripcion .container {
        height: 100vh;
    }

    .descripcion h1 {
        text-align: start;
    }

    .descripcion h2 {
        text-align: start;
    }


    .descripcion .lead {
        text-align: start;
        line-height: 2rem;
    }

    .descripcion .one {
        margin-top: 4rem;
    }

    .descripcion .two {
        margin-top: 4rem;
    }

    .descripcion .three {
        display: none;
        margin-top: 4rem;
    }
}

/* Large devices (laptops/desktops, 1050px and up) */
@media only screen and (min-width: 992px) {
    body h1 {
        text-align: end;
    }

    body p {
        text-align: end;
    }

    .coverPage .container-fluid {
        height: 100vh;
    }

    .descripcion .container {
        height: 100vh;
    }

    .descripcion h1 {
        text-align: start;
    }

    .descripcion h2 {
        text-align: start;
    }

    .descripcion .lead {
        text-align: start;
        line-height: 2rem;
    }

    .descripcion .one {
        margin-top: 4rem;
    }

    .descripcion .two {
        margin-top: 4rem;
    }

    .descripcion .three {
        display: none;
        margin-top: 4rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body h1 {
        text-align: end;
    }

    body p {
        text-align: end;
    }

    .coverPage .container-fluid {
        height: 100vh;
    }


    .descripcion .container {
        height: 100vh;
    }

    .descripcion h1 {
        text-align: start;
    }

    .descripcion h2 {
        text-align: start;
    }

    .descripcion .lead {
        text-align: start;
        line-height: 2rem;
    }


    .descripcion .one {
        margin-top: 4rem;
    }

    .descripcion .two {
        margin-top: 4rem;
    }

    .descripcion .three {
        display: none;
        margin-top: 4rem;
    }
}