* {
	box-sizing: border-box;
	font-family: 'Montserrat';
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 12px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	width: 100%;
}

body h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: white;
}

body A {
	color: white;
	text-decoration: none;
}

body p {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/

.fullPage {
	height: 100vh;
}

.home {
	background-color: white;
}

.home .landing {
	min-height: 100vh;
	background-image: url("../images/background/landingBG.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.home .halfWindow {
	min-height: 50vh;
}

.home .landing .title {
	padding-top: 25vh;
	text-align: left;
	font: normal normal bold 68px Roboto;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
}

.home .landing .description {
	text-align: left;
	font: normal normal normal 16px/32px Inter;
	letter-spacing: 0px;
	color: #333333;
	opacity: 1;
	max-width: 50ch;
}

.rightPadding {
	padding-right: 15%;
}

.leftMargin {
	margin-left: 15% !important;
}

.leftPadding {
	padding-left: 15%;
}

.nonLanding {
	background-image: url("../images/background/footer\ white.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom;
}

.black {
	color: black !important;
}

.postContainer {
	padding-top: 10vh;
}
.postContainer .date {
	margin-top: 86px;
	margin-bottom: 38px;
	font: normal normal 600 18px/30px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
}
.postContainer .title {
	text-align: left;
	margin-bottom: 0;
	font: normal normal 600 22px/30px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
	max-width: 25ch;
}

.postContainer .section {
	text-align: left;
	font: normal normal 300 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	max-width: 78ch;
	margin: 62px 0px;
}

.postContainer .section.first {
	margin-top: 38px;
	margin-bottom: 57px;
}

.postContainer .section .subtitle {
	text-align: left;
	font: normal normal 600 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	padding-bottom: 2em;
}

.postContainer .section .content {
	text-align: left;
	font: normal normal 300 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
}

.postContainer .section img {
	margin-top: 10%;
	width: 100%;
	display: block;
}

.postContainer .List {
	list-style-position: outside;
	padding: 0;
	margin-top: 30px;
}

.postContainer .expensesList {
	list-style-type: decimal;
}

.postContainer .expensesList .expensesItem {
	padding-left: 1ch;
	font: normal normal normal 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
	max-width: 58ch;
	margin-bottom: 30px;
}

.postContainer .expensesList .expensesItem::marker {
	text-align: left;
	font: normal normal 600 16px/32px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
}

.postContainer .offers {
	font: normal normal normal 16px/32px Inter;
	margin-left: calc(15% - 20px);
}

.postContainer .offers .title {
	text-align: left;
	font: normal normal 600 22px/38px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
	max-width: 50ch;
}

.postContainer .offersList {
	list-style-image: url("../images/components/itemdot.png");
}

.postContainer .offersList .offersItem {
	text-align: left;
	font: normal normal normal 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
	margin-bottom: 30px;
}

.postContainer .offersList .item1 {
	max-width: 72ch;
}

.postContainer .offersList .item4 {
	max-width: 68ch;
}

.postContainer .offersList .item5 {
	max-width: 67ch;
}

.postContainer .offersList .item6 {
	max-width: 69ch;
}

.postContainer .offersList .offersItem::marker {
	text-align: left;
	font: normal normal 600 16px/32px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
}

.postContainer .newsLetter {
	width: 100%;
	height: calc(100vw * 0.308);
	background-size: cover;
	background-image: url("../images/components/newsletter.png");
}

.newsLetter .title {
	text-align: left;
	font: normal normal 600 22px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
}

.newsLetter .subtitle {
	padding: 2em 0;
	text-align: left;
	font: normal normal 600 12px Inter;
	letter-spacing: 0px;
	color: #333333;
	opacity: 0.7;
}

.newsLetter .form-floating > label {
	font: normal normal normal 16px/28px Inter;
	letter-spacing: 0px;
	color: black;
	opacity: 1;
}

.newsLetter .form-floating .form-control {
	margin-bottom: 3em;
	background-color: transparent;
	border: 0px transparent;
	border-bottom: black 1px solid;
	border-radius: 0;
	color: black;
}

.newsLetter .form-floating > label {
	color: black;
	padding: 1rem 0rem;
	font-size: 17px;
}

.newsLetter .btn-primary {
	padding: 14px 57px;
}

.newsLetter .privacy {
	font: normal normal 600 12px Inter;
	letter-spacing: 0px;
	color: #333333;
	opacity: 0.7;
}

.newsLetter .privacy .emphasis {
	color: #00b0ce;
}

.lastList {
	font: normal normal normal 16px/32px Inter;
	max-width: 70ch;
}
.lastMessage {
	text-align: left;
	font: normal normal bold 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
	max-width: 70ch;
	padding-bottom: 3em;
}
.lastMessageDescription {
	font: normal normal 400 20px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
	max-width: 60ch;
}
.lastMessageDescriptionEmphasis {
	font: normal normal bold 20px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
	max-width: 60ch;
}
.postContainer .postFooter {
	margin: 20vh 0;
}
.postContainer .postFooter .scrollToStart {
	font: normal normal 300 16px/110px Inter;
	letter-spacing: 0px;
	color: #333333;
	opacity: 0.8;
}
.postContainer .postFooter .scrollToStart:hover {
	color: #00b0ce;
}
.postContainer .postFooter .share {
	font: normal normal 300 16px/32px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
}
.postContainer .postFooter .share .text {
	font: normal normal 300 16px/32px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
}
.postContainer .postFooter .share .social {
	text-align: start;
	padding-bottom: 0%;
	margin-bottom: 0%;
}

.postContainer .postFooter .share .social > li {
	display: inline-block;
}

.postContainer .postFooter .share .social > li > a {
	text-align: center;
	display: inline-block;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 36px;
	background-color: rgba(0, 0, 0, 0);
	color: #00b0ce;
	margin: 0 3px 3px 0;
	font-size: 20px;
}

.postContainer .postFooter .share .social > li > a:hover {
	text-decoration: none;
	opacity: 0.5;
}

.postContainer .otherPosts {
	font: normal normal normal 16px/32px Inter;
	margin-left: calc(15% - 20px);
}
.postContainer .otherPosts .title {
	text-align: left;
	font: normal normal medium 22px/110px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 1;
	margin-bottom: 2em;
}

.postContainer .postCarouselContainer .sliderButton {
	margin-bottom: 100px;
	background: none;
	padding: 0;
	border: none;
	filter: invert(1);
}
.postContainer .postCarouselContainer .description {
	text-align: left;
	font: normal normal 300 16px/32px Inter;
	letter-spacing: 0px;
	color: #0b131e;
	opacity: 0.8;
	max-width: 46ch;
}
.postContainer .postCarouselContainer .postTitle {
	padding: 0;
	margin: 0;
	text-align: left;
	font: normal normal 500 16px/24px Inter;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	position: absolute;
	bottom: 24px;
	left: 20px;
	max-width: 30ch;
}
.postContainer .postCarouselContainer .postTitle.post2 {
	max-width: 21ch;
}

@media only screen and (max-width: 768px) {
	.home .landing {
		background-image: none;
		position: relative;
		overflow: hidden;
	}
	.home .landing .bgImage {
		overflow:hidden;
		position: absolute;
		width: 100vw;
		animation: ease-out 1s fromRight forwards;
	}
	.home .landing .bgImage img{
		display: block;
		width: 100%;
		object-fit: cover;
	}

	.home .landing .title {
		padding-top: 169px;
		text-align: left;
		font: normal normal 500 34px/42px Roboto;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
	}

	.home .landing .description {
		text-align: left;
		font: normal normal medium 18px/30px Inter;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
		max-width: unset;
	}

	.sectionTitle {
		text-align: left;
		font: normal normal bold 15px/24px Inter;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 0.8;
		padding: 23px 53px 29px 23px;
	}

	.accordion-item {
		border: none;
	}
	.accordion-button {
		padding: 10px 31px 10px 31px;
		text-align: left;
		font: normal normal bold 16px/32px Inter;
		letter-spacing: 0px;
		color: #00b0ce;
		opacity: 1;
		background: #00B0CE33 0% 0% no-repeat padding-box;
		border-top: 1px solid #00b0ce;
		border-bottom: 1px solid #00b0ce;
		border-radius: 0;
	}
	.accordion-button:not(.collapsed) {
		color: #00b0ce;
	}
	.accordion-body {
		padding: 20px 30px 30px 32px;
	}
	.accordion-body .content {
		text-align: left;
		font: normal normal 300 15px/32px Inter;
		letter-spacing: 0px;
		color: #0b131e;
	}
	.postContainer {
		padding-top: 0;
	}

	.postContainer .List {
		list-style-position: inside;
	}
	.postContainer .expensesList {
		list-style-type: decimal-leading-zero;
	}

	.postContainer .expensesList .expensesItem::marker {
		font: normal normal 500 15px/32px Inter;
		letter-spacing: 0px;
		color: #2bbdd6;
		opacity: 1;
		padding-right: 15px;
	}

	.postContainer .expensesList .expensesItem {
		padding-left: 0;
		font: normal normal normal 15px/32px Inter;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 1;
		max-width: unset;
		margin-bottom: 31px;
	}

	.postContainer .section {
		max-width: unset;
		margin: 30px;
	}
	.postContainer .offers .title {
		text-align: left;
		font: normal normal 500 18px/30px Inter;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 1;
	}
	.postContainer .offersList {
		padding: 31px;
	}
	.postContainer .offersList .offersItem {
		margin-left: 0 !important;
	}
	.postContainer .newsLetter {
		height: auto;
	}
	.newsLetter .title {
		margin-top: 52px;
		font: normal normal 500 18px/30px Inter;
		letter-spacing: 0px;
		color: #00b0ce;
		opacity: 1;
	}
	.newsLetter .subtitle {
		font: normal normal 500 15px/32px Inter;
		letter-spacing: 0px;
		color: #333333;
		opacity: 0.7;
		padding: 1.5em 0;
	}
	.newsLetter .privacy {
		margin-top: 8px !important;
		margin-bottom: 52px !important;
		text-align: left;
		font: normal normal 500 15px/30px Inter;
		letter-spacing: 0px;
		color: #333333;
		opacity: 0.7;
	}
	.postContainer .offersList.differentPadding {
		padding-right: 22px;
	}
	.lastMessage {
		text-align: left;
		font: normal normal 500 15px/32px Inter;
		letter-spacing: 0px;
		color: #0b131e;
		opacity: 1;
	}
	.lastMessageDescription {
		font: normal normal 500 16px/30px Roboto;
		letter-spacing: 0.32px;
		color: #00b0ce;
	}
	.lastMessageDescriptionEmphasis {
		font: normal normal bold 16px/30px Roboto;
		letter-spacing: 0.32px;
		color: #00b0ce;
	}
	.overflow-x {
		overflow-x: auto;
	}
	.thumbnail {
		position: relative;
	}
	.thumbnail .image {
		width: 100%;
		display: block;
	}
	.thumbnail .text {
		position: absolute;
		right: 47px;
		left: 25px;
		bottom: 10px;
		text-align: left;
		font: normal normal bold 16px/21px Inter;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
		padding: 0;
		margin: 0;
	}

	.postContainer .postFooter .share .social {
		padding-top: 0;
	}
	.footer {
		min-height: unset !important;
		padding: 0px 38px;
	}
	.footer h1 {
		padding-top: 161px;
	}
	.noPadding {
		padding: 0;
	}

	.desktop {
		display: none;
	}
	.imageLabel {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.leftMargin {
		margin-left: 31px !important;
	}

	.nonLanding {
		/*background-image: url("../images/mobile/Fondo\ blog.png");*/
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: bottom;
	}
}

@media only screen and (min-width: 768px) {
	.mobile {
		display: none !important;
	}
	.footer {
		min-height: 150vh;
	}
}
@media only screen and (max-width: 1300px) {
	.bigScreen{
		display: none;
	}
}

@media only screen and (min-width: 1300px) {
	.postContainer .postCarouselContainer .description {
		max-width: unset;
	}
}

/*-------------------------------------------------- Seccion footer--------------------------------------------------*/

ul.social {
	width: 100%;
	text-align: start;
	padding-bottom: 10%;
}

ul.social > li {
	display: inline-block;
}

ul.social > li > a {
	text-align: center;
	display: inline-block;
	font-size: 18px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 36px;
	background-color: rgba(0, 0, 0, 0);
	color: black;
	margin: 0 3px 3px 0;
}

ul.social > li > a:hover {
	text-decoration: none;
	opacity: 0.5;
}

.footer {
	min-height: 150vh;
}
