* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
}

body h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

body A {
    color: white;
    text-decoration: none;
}

body p {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/

.fullPage {
    height: 100vh
}

.home {
    
    background-color: white;
}
.home .landing{
    min-height: 100vh;
    background-image: url("../images/background/landingBG.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.home .halfWindow {
    min-height: 50vh;
}
.home .landing .title {
    padding-top: 25vh;
    text-align: left;
    font: normal normal bold 68px Roboto;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}

.home .landing .description {
    text-align: left;
font: normal normal normal 16px/32px Inter;
letter-spacing: 0px;
color: #333333;
opacity: 1;
max-width: 50ch;
}

.rightPadding {
    padding-right: 15%;
}

.leftMargin {
    margin-left: 15%!important;
}
.leftPadding {
    padding-left: 15%;
}

.nonLanding {
    background-image: url("../images/background/footer\ white.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.black {
    color: black!important;
}

.postContainer{
    padding-top: 10vh;
}

.postContainer  .date {
    margin-top: 2em;
    margin-bottom: 2em;
    font: normal normal 600 18px/30px Inter;
    letter-spacing: 0px;
    color: #00B0CE;
    opacity: 1;
}

.postContainer  .title {
    text-align: left;
    font: normal normal 600 22px/30px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
    max-width: 25ch;
}
.postContainer .section{
    text-align: left;
    font: normal normal 300 16px/32px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    max-width: 78ch;
    margin: 62px 0px;
}
.postContainer  .section .subtitle {
    text-align: left;
    font: normal normal 600 16px/32px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    padding-bottom: 2em;
}

.postContainer  .section .content {
    text-align: left;
    font: normal normal 300 16px/32px Inter;
    letter-spacing: 0px;
    color: #0B131E;
}

.postContainer  .section img {
    margin-top: 10%;
    width: 100%;
    display: block;
}

.postContainer  .List{
    list-style-position: outside;
    padding:0;
    margin-top:30px
}


.postContainer  .expensesList{
    list-style-type: decimal;
}

.postContainer .expensesList .expensesItem{
    padding-left: 1ch;
    font: normal normal normal 16px/32px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
    max-width:58ch;
    margin-bottom: 30px;
}

.postContainer .expensesList .expensesItem::marker{
    text-align: left;
    font: normal normal 600 16px/32px Inter;
    letter-spacing: 0px;
    color: #00B0CE;
    opacity: 1;
}

.postContainer  .offersList{
    list-style-type: disc;
}

.postContainer .offersList .offersItem{
    text-align: left;
    font: normal normal normal 16px/32px Inter;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
    margin-bottom: 30px;

}
.postContainer  .offersList .item1{
    max-width: 72ch;
}
.postContainer  .offersList .item4{
    max-width: 68ch;
}
.postContainer  .offersList .item5{
    max-width: 67ch;
}
.postContainer  .offersList .item6{
    max-width: 69ch;
}

.postContainer .offersList .offersItem::marker{
    text-align: left;
    font: normal normal 600 16px/32px Inter;
    letter-spacing: 0px;
    color: #00B0CE;
    opacity: 1;
}
.postContainer .newsLetter{
    width: 100%;
    height: calc( 100vw * 0.308 );
    background-size: cover;
    background-image: url("../images/components/newsletter.png");
}
.newsLetter .title{
    text-align: left;
    font: normal normal 600 22px Inter;
    letter-spacing: 0px;
    color: #00B0CE;
    opacity: 1;
}
.newsLetter .subtitle{
    padding: 2em 0;
    text-align: left;
    font: normal normal 600 12px Inter;
    letter-spacing: 0px;
    color: #333333;
    opacity: 0.7;
}

.newsLetter .form-floating-container {
    max-width:33% ;
    min-width: 6ch;
}
.newsLetter .form-floating>label{
    font: normal normal normal 16px/28px Inter;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
}
.newsLetter .form-floating .form-control {
    background-color: transparent;
    border: 0px transparent;
    border-bottom: black 1px solid;
    border-radius: 0;
    color: black;
}

.newsLetter .form-floating>label {
    color: black;
    padding: 1rem 0rem;
    font-size: 17px
}


/*-------------------------------------------------- Seccion footer--------------------------------------------------*/

ul.social {
    width: 100%;
    text-align: start;
    padding-bottom: 10%;
}

ul.social>li {
    display: inline-block;
}

ul.social>li>a {
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 36px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    margin: 0 3px 3px 0;
}

ul.social>li>a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.footer{
    min-height:150vh ;
}