* {
    box-sizing: border-box;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    --main-color: #00B0CE;
    --secondary-color:#616161
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box
}

body {
    font-size: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 0.1em
}

body h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

body A {
    color: white;
    text-decoration: none;
}

body p {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.h-100vh {
    height: 100vh
}

.p-relative {
    position: relative;
}

.elipseText{
    white-space: nowrap;
    position: absolute;
    right: 0%;
    width: auto;
    top:50%;
    transform:translateX(40%) translateY(-90%)
}
.elipseText .textContainer{
    width: 50vh;
    transform: rotate(-90deg);
    transform-origin: center;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.elipseText .textContainer >.text h1{
    text-align: end;
    color: white;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

.elipseText .textContainer >.text::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid white;
    font-size: 20px;
    width:4em;
    margin: 0 1rem;
}

.elipseText .textContainer >.text:hover {
    color: var(--main-color);
}

.elipse {
    position: absolute;
    right: 0%;
    width: auto;
    height: 90vh;
}

.elipse .container{
    transform: translateX(50%);
    height: 100%;

    width: auto;
}
.elipse .container img{
    height: 100%;
    width: auto;
}


.sectionLabel {
    position: absolute;
    bottom: 5em;
    right: 5em;
    width: auto;
}

.rotatedText{
    transform: rotate(-90deg) translateX(100%);
    transform-origin: top right;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotatedText>.text {
    text-align: end;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.rotatedText>.text::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid white;
    width: 9rem;
    margin: 0 1rem;
}

.rotatedText>.text:hover {
    color: var(--main-color);
}

.whatsappButtonContainer {
    position: fixed;
    bottom: 2em;
    right: 0;
    z-index: 1030;
    background-color: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px 0px 0px 5px;
}

.whatsappButtonContainer>.dialog {
    display: inline-block;
    position: relative;
    background: white;
    border-radius: 7px;
    margin: 1.5em 1.5em 1.5em 1.5em;
}

.whatsappButtonContainer>.dialog::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent white;
    border-width: 7px 0 7px 10px;
    top: 50%;
    right: -7px;
    margin-top: -7px;
}

.whatsappButtonContainer>.dialog>.text {
    padding: 1em 0.5em;
    margin-bottom: 0;
    font-size: 12px;
    color: black;
    text-align: center;
}

.whatsappButtonContainer>.logo {
    width: 4em;
    margin-right: 1em
}

.transition {
    height: 10vh;
    background: rgb(9, 21, 38);
    background: linear-gradient(180deg, rgba(9, 21, 38, 1) 0%, rgba(0, 13, 35, 1) 49%);
}


/*--------------------------------------------------navBar--------------------------------------------------*/

.navbar {
    padding-top: 0px;
}

.navbar-nav {
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-item {
    color: white;
    text-align: right;
    margin: 0;
}

.navbar-toggler {
    align-items: flex-end;
    text-align: end;
    border: none;
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(200, 200, 200, 0.0);
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 0;
}

#navBarBrandText {
    display: none;
}

#navbar-brand:hover #navBarBrandText {
    display: inline-block
}


/*--------------------------------------------------Media Query navBar--------------------------------------------------DONE*/

@media only screen and (max-width: 392px) {
    .navBarContainer {
        background-color: rgba(200, 200, 200, 0.5);
    }
    .col-xxs {
        width: 100% !important;
    }
    .navbar-brand {
        padding-left: 0.5em;
        margin-right: 0;
    }
    .nav-item {
        padding-right: 5%;
        font-size: 20px;
        text-align: right;
    }
    .navbar-nav {
        background-color: rgba(200, 200, 200, 0.0) !important;
    }
    .navbar-toggler {
        width: auto;
        background-color: rgba(0, 0, 0, .0) !important;
    }
}

@media only screen and (min-width: 392px) {
    .navbar-brand {
        padding-left: 0.5em;
        margin-right: 0;
    }
    .nav-item {
        padding-right: 5%;
        font-size: 15px;
        text-align: right;
    }
    .navbar-toggler {
        width: 50%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 576px) {
    .navbar-brand {
        padding-left: 1em;
    }
    .nav-item {
        padding-right: 5%;
        font-size: 15px;
        text-align: right;
    }
    .navbar-toggler {
        width: 33.33333%;
    }
}


/* Medium devices (landscape tablets, 800 and up) */

@media only screen and (min-width: 768px) {
    .navbar-brand {
        padding-left: 3em;
    }
    .nav-item {
        padding-right: 5%;
        font-size: 15px;
        text-align: right;
    }
    .navbar-toggler {
        width: 25%;
    }
}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
    .navbar-brand {
        padding-left: 5em;
    }
    .nav-item {
        padding-right: 30%;
        font-size: 15px;
        text-align: right;
    }
    .navbar-toggler {
        width: 25%;
    }
    .navbar-toggler img {
        margin-right: 30%
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .navbar-brand {
        padding-left: 5em;
    }
    .nav-item {
        padding-right: 30%;
        font-size: 20px;
        text-align: right;
    }
    .navbar-toggler {
        width: 25%;
    }
    .navbar-toggler img {
        margin-right: 30%
    }
}


/*-------------------------------------------------- Seccion land -------------------------------------------------*/

.land {
    background-image: url(https://raw.githubusercontent.com/MarcosParengo/Proflight/master/assets/images/background/backgroundMain.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
}

.land img {
    display: block;
    width: 100%;
}


/*--------------------------------------------------Media Query land -------------------------------------------------DONE*/

@media only screen and (max-width: 480px) {
    .land {
        background-size: auto;
        background-size: auto 100%;
    }
}

@media only screen and (min-width: 480px) {
    .land {
        background-size: auto;
        background-size: auto 100%;
    }
}

@media only screen and (min-width: 572px) {
    .land {
        background-size: auto;
        background-size: auto 100%;
    }
}

@media only screen and (min-width: 1324px) {
    .land {
        background-size: 100% 100%;
    }
}


/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/

.home {
    background-image: url(https://github.com/MarcosParengo/Proflight/blob/master/assets/images/background/pf%20background%20home.png?raw=true);
    background-repeat: no-repeat;
    background-size: auto 100%;
    box-sizing: border-box
}


/*--------------------------------------------------Media Query landingHome --------------------------------------------------DONE*/


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .home {
        background-size: auto 100%;
    }
}


/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
    .home {
        background-size: auto 100%;
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .home {
        background-size: auto 100%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .home {
        background-size: auto 100%;
    }
}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
    .home {
        background-size: 100% 100%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .home {
        background-size: 100% 100%;
    }
}


/*-------------------------------------------------- Seccion Bienvenido --------------------------------------------------*/

.bienvenido .childleft {
    padding-right: 15%;
    padding-left: 15%;
}

.bienvenido .bienvenidaTitulo {
    text-align: start;
    font-size: 60px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5%;
}

.bienvenido h2 {
    color: rgb(27, 76, 96);
    padding-top: 10%;
    font-weight: bolder;
}

.bienvenido p.lead {
    text-align: left;
    color: white;
    width: 70%;
    line-height: 40px;
}

.bienvenido .imgContainer {
    position: absolute;
    right: 0em;
    width: 50%;
}

.bienvenido .cómopilotoTitulo {
    text-align: start;
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5%;
}

.bienvenido .comoPiloto {
    font-size: 15px!important;
    line-height: 2em!important;
}

.bienvenido .footer {
    color: var(--main-color);
    font-size: 25px;
    font-weight: bolder;
}

.bienvenido .circle {
    position: absolute;
    left: 0;
    transform: translate(-50%, -25%);
}

.timeline {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 0;
    width: 70%;
    height: 30px;
    list-style: none;
    text-align: justify;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(48, 58, 62, 1) 51%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.timeline li {
    display: inline-block;
    content: attr(data-year);
    width: 30px;
    height: 30px;
    background: rgba(58, 69, 83, 1);
    text-align: center;
    line-height: 1.2;
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.timeline>li>div {
    height: 30px;
    width: 30px;
}

.timeline>li>div>span {
    width: 100%;
    text-align: center;
    color: var(--main-color);
    font-weight: bolder;
}

.timeline li:nth-child(odd):before {
    top: -40px;
}

.timeline li:nth-child(even):before {
    bottom: -40px;
}

.timeline li:after {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.5em;
    letter-spacing: 0.3em;
    color: rgb(92, 100, 112);
    display: inline-block;
    content: attr(data-text);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
    bottom: 0;
    margin-bottom: -10px;
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}

.timeline li:nth-child(even):after {
    top: 0;
    margin-top: -10px;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .bienvenido .bienvenidaTitulo {
        text-align: start;
        font-size: 25px;
    }
    .bienvenido p.lead {
        font-size: 15px;
        line-height: 2rem;
        padding-right: 0%;
    }
    .bienvenido h2 {
        font-size: 17px;
    }
    .bienvenido .childleft {
        padding-left: 10%;
        padding-right: 0;
    }
    .bienvenido .cómopilotoTitulo {
        font-size: 25px;
        padding-bottom: 5%;
    }
    .timeline li:after {
        font-size: 8px;
    }
    .timeline li:before {
        font-size: 16px;
    }
}


/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
    .bienvenido .bienvenidaTitulo {
        text-align: start;
        font-size: 30px;
    }
    .bienvenido p.lead {
        font-size: 15px;
        line-height: 2rem;
    }
    .bienvenido h2 {
        font-size: 17px;
    }
    .bienvenido .childleft {
        padding-left: 10%;
        padding-right: 0;
    }
    .bienvenido .cómopilotoTitulo {
        font-size: 25px;
        padding-bottom: 5%;
    }
    .timeline li:after {
        font-size: 8px;
    }
    .timeline li:before {
        font-size: 16px;
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .bienvenido .bienvenidaTitulo {
        text-align: start;
        font-size: 35px;
    }
    .bienvenido p.lead {
        font-size: 15px;
        line-height: 2rem;
    }
    .bienvenido h2 {
        font-size: 17px;
    }
    .bienvenido .childleft {
        padding-left: 10%;
        padding-right: 5%;
    }
    .bienvenido .cómopilotoTitulo {
        font-size: 25px;
        padding-bottom: 5%;
    }
    .timeline li:after {
        font-size: 8px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .bienvenido .bienvenidaTitulo {
        text-align: start;
        font-size: 40px;
    }
    .bienvenido p.lead {
        font-size: 17px;
        line-height: 2rem;
    }
    .bienvenido h2 {
        font-size: 25px;
    }
    .bienvenido .childleft {
        padding-left: 10%;
        padding-right: 5%;
    }
    .bienvenido .cómopilotoTitulo {
        font-size: 30px;
        padding-bottom: 5%;
    }
    .timeline li:after {
        font-size: 10px;
    }
    .timeline li:before {
        font-size: 18px;
    }
}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
    .bienvenido .bienvenidaTitulo {
        text-align: start;
        font-size: 40px;
    }
    .bienvenido p.lead {
        font-size: 17px;
        line-height: 2rem;
    }
    .bienvenido h2 {
        font-size: 30px;
    }
    .bienvenido .childleft {
        padding-left: 5%;
        padding-right: 15%;
    }
    .bienvenido .cómopilotoTitulo {
        font-size: 30px;
    }
    .timeline li:after {
        font-size: 12px;
    }
    .timeline li:before {
        font-size: 20px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .bienvenido .bienvenidaTitulo {
        text-align: start;
        font-size: 60px;
    }
    .bienvenido p.lead {
        font-size: 20px;
    }
    .bienvenido h2 {
        font-size: 30px;
    }
    .bienvenido .childleft {
        padding-left: 15%;
        padding-right: 15%;
    }
    .bienvenido .cómopilotoTitulo {
        font-size: 40px;
    }
    .timeline li:after {
        font-size: 12px;
    }
    .timeline li:before {
        font-size: 22px;
    }
}


/*-------------------------------------------------- Sección programas --------------------------------------------------*/

.programas {
    height: 100vh;
    overflow-x: hidden;
}

.programas .parent {
    padding-left: 15%;
}

.programas .childleft {
    padding-right: 20%;
}

.programas .programasTitulo {
    padding-left: 0%;
    text-align: start;
    font-size: 35px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.programas .more {
    padding-top: 20px;
    font-size: 15px;
}

.programas .carousel {
    font-size: 15px;
    max-width: 70ch
}

.programas .carousel-inner {
    height: 100%;
}

.programas .carousel-caption {
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    bottom: auto !important;
}

.programas .carousel-caption h1 {
    font-size: 17px;
    text-align: start;
}

.programas .carousel-caption p {
    font-size: 15px;
    line-height: 2rem;
}

.programas .title {
    padding-left: 1em;
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.programas .number {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500
}

.programas .sliderButton {
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: rgb(75, 84, 97);
    color:black;
    transition: background-color 0.5s ease;

}
.programas .sliderButton > .contentContainer{
    height: 25px;
    width: 25px;
}

.programas .sliderButton:hover{
    background-color: var(--main-color);
}

.programas .sliderButton:hover .buttonContent{
    filter: invert(0);
}

.programas .buttonContent {
    height: 20px;
    width: 15px;
    filter: invert(100%);
}

.programas .bd-placeholder-img {
    height: 200px;
}


/*-------------------------------------------------- Media Query programas --------------------------------------------------DONE*/


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .programas {
        height: auto
    }
    .programas .programasTitulo {
        text-align: start;
        font-size: 25px;
    }
    .programas p.lead {
        font-size: 15px;
        line-height: 2rem;
        padding-right: 0%;
    }
    .programas .parent {
        padding-left: 5%;
    }
    .programas .childleft {
        padding-right: 0%;
        padding-left: 0%;
    }
    .programas .carousel {
        padding-right: 5%;
    }
    .programas .bd-placeholder-img {
        height: 270px;
    }
    .programas .more {
        padding-top: 20px;
        font-size: 12px;
    }
}
/*ultra Small devices (portrait tablets and large phones, 392px and up) */
@media only screen and (min-width: 392px) {
    .programas {
        height: auto
    }
    .programas .programasTitulo {
        text-align: start;
        font-size: 30px;
    }
    .programas p.lead {
        font-size: 15px;
        line-height: 2rem;
        padding-right: 0%;
    }
    .programas .parent {
        padding-left: 5%;
    }
    .programas .childleft {
        padding-right: 0%;
        padding-left: 0%;
    }
    .programas .carousel {
        padding-right: 5%;
    }
    .programas .bd-placeholder-img {
        height: 260px;
    }
    .programas .more {
        padding-top: 20px;
        font-size: 12px;
    }
}
/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .programas {
        height: auto
    }
    .programas .programasTitulo {
        text-align: start;
        font-size: 35px;
    }
    .programas p.lead {
        font-size: 15px;
        line-height: 2rem;
        padding-right: 0%;
    }
    .programas .parent {
        padding-left: 5%;
    }
    .programas .childleft {
        padding-right: 0%;
        padding-left: 0%;
    }
    .programas .carousel {
        padding-right: 5%;
    }
    .programas .bd-placeholder-img {
        height: 220px;
    }
    .programas .more {
        padding-top: 20px;
        font-size: 15px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .programas {
        height: auto
    }
    .programas .programasTitulo {
        text-align: start;
        font-size: 40px;
    }
    .programas p.lead {
        font-size: 17px;
        line-height: 2rem;
        padding-right: 15%;
    }
    .programas .parent {
        padding-left: 5%;
    }
    .programas .childleft {
        padding-right: 0%;
        padding-left: 5%;
    }
    .programas .carousel {
        padding-right: 25%;
    }
    .programas .bd-placeholder-img {
        height: 200px;
    }
    .programas .more {
        padding-top: 20px;
        font-size: 15px;
    }
}
/* Large devices (laptops/desktops, 1050px and up) */
@media only screen and (min-width: 1050px) {
    .programas {
        height: 100vh
    }
    .programas .programasTitulo {
        text-align: start;
        font-size: 35px;
    }
    .programas p.lead {
        font-size: 17px;
        line-height: 2rem;
        padding-right: 15%;
    }
    .programas .parent {
        padding-left: 5%;
    }
    .programas .childleft {
        padding-right: 15%;
        padding-left: 0%;
    }
    .programas .carousel {
        padding-right: 25%;
    }
    .programas .bd-placeholder-img {
        height: 200px;
    }
    .programas .more {
        padding-top: 20px;
        font-size: 15px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .programas {
        height: 100vh
    }
    .programas .programasTitulo {
        text-align: start;
        font-size: 35px;
    }
    .programas p.lead {
        font-size: 20px;
        padding-right: 15%;
    }
    .programas .parent {
        padding-left: 15%;
    }
    .programas .childleft {
        padding-right: 15%;
        padding-left: 0%;
    }
    .programas .carousel {
        padding-right: 25%;
    }
    .programas .bd-placeholder-img {
        height: 200px;
    }
    .programas .more {
        padding-top: 20px;
        font-size: 15px;
    }
}
/*-------------------------------------------------- flota  Sección--------------------------------------------------*/

.flota .parent {
    padding-left: 0%;
}

.flota .childleft {
    padding-right: 20%;
    padding-top: 7%;
    padding-left: 15%;
}

.flota .flotaTitulo {
    text-align: start;
    font-size: 30px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5%;
}

.flota .lead {
    line-height: 2rem;
    padding-right: 15%;
    text-align: start;
    font-size: 15px;
    font-weight: 400;
    color: var(--secondary-color);
    padding-bottom: 5%;
}

.flota .carousel {
    padding-right: 10%;
    padding-left: 10%;
}

.flota .carousel-inner {
    padding-bottom: 2%;
}

.flota .item {
    position: relative;
}

.flota .left {
    width: 30%;
    float: left;
}

.flota .center {
    margin-left: 5%;
    width: 30%;
    margin-right: 5%;
    float: left;
}

.flota .right {
    width: 30%;
    float: left;
}

.item .photo {
    width: 100%;
}

.flota .item .txtOverlapParent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.2s linear;
    transition: visibility 0s, opacity 0.2s linear;
}

.flota .txtOverlap {
    width: 100%;
    padding: 0 5% 0 5%;
    font-size: 35px;
    color: rgb(92, 100, 112);
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.flota .item:hover div {
    opacity: 1;
    visibility: visible;
}

.flota .sliderButton {
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: rgb(75, 84, 97);
    color:black;
    transition: background-color 0.5s ease;

}
.flota .sliderButton > .contentContainer{
    height: 25px;
    width: 25px;
}

.flota .sliderButton:hover{
    background-color: var(--main-color);
}

.flota .sliderButton:hover .buttonContent{
    filter: invert(0);
}

.flota .buttonContent {
    height: 20px;
    width: 15px;
    filter: invert(100%);
}

.flota .more {
    font-weight: 400;
    color:var(--secondary-color);
    padding-top: 20px;
    font-size: 13px;
}


/*-------------------------------------------------- Media Query flota  --------------------------------------------------DONE*/


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .flota .childleft {
        padding-right: 10%;
        padding-top: 7%;
        padding-left: 10%;
    }
    .flota .lead {
        line-height: 2rem;
        font-size: 15px;
        padding-bottom: 5%;
    }
    .flota .flotaTitulo {
        text-align: start;
        font-size: 25px;
        padding-bottom: 5%;
    }
}
/*ultra Small devices (portrait tablets and large phones, 392px and up) */
@media only screen and (min-width: 392px) {
    .flota .childleft {
        padding-right: 10%;
        padding-top: 7%;
        padding-left: 10%;
    }
    .flota .lead {
        line-height: 2rem;
        padding-right: 0;
        font-size: 15px;
        padding-bottom: 5%;
    }
    .flota .flotaTitulo {
        font-size: 25px;
        padding-bottom: 5%;
    }
}
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    .flota .childleft {
        padding-right: 10%;
        padding-top: 3%;
        padding-left: 10%;
    }
    .flota .lead {
        line-height: 2rem;
        padding-right: 5%;
        font-size: 15px;
        padding-bottom: 5%;
    }
    .flota .flotaTitulo {
        font-size: 25px;
        padding-bottom: 5%;
    }
    .flota .more {
        padding-top: 20px;
        font-size: 10px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .flota .childleft {
        padding-right: 20%;
        padding-top: 5%;
        padding-left: 15%;
    }
    .flota .lead {
        line-height: 2rem;
        padding-right: 10%;
        font-size: 15px;
        padding-bottom: 5%;
    }
    .flota .flotaTitulo {
        font-size: 25px;
        padding-bottom: 5%;
    }
    .flota .more {
        padding-top: 20px;
        font-size: 12px;
    }
}
/* Large devices (laptops/desktops, 1050px and up) */
@media only screen and (min-width: 1050px) {
    .flota .childleft {
        padding-right: 20%;
        padding-top: 7%;
        padding-left: 15%;
    }
    .flota .lead {
        line-height: 2rem;
        padding-right: 10%;
        font-size: 15px;
        padding-bottom: 5%;
    }
    .flota .flotaTitulo {
        font-size: 30px;
        padding-bottom: 5%;
    }
    .flota .more {
        padding-top: 20px;
        font-size: 15px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .flota .childleft {
        padding-right: 20%;
        padding-top: 7%;
        padding-left: 15%;
    }
    .flota .lead {
        line-height: 2rem;
        padding-right: 15%;
        font-size: 15px;
        padding-bottom: 5%;
    }
    .flota .flotaTitulo {
        font-size: 30px;
        padding-bottom: 5%;
    }
    .flota .more {
        padding-top: 20px;
        font-size: 17px;
    }
}


/*-------------------------------------------------- Sección tecnologia  --------------------------------------------------*/

.tecnologia {
    padding-top: 15%;
    padding-bottom: 10%;
}

.tecnologia h1 {
    text-align: start;
    font-size: 35px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5%;
}

.nav-tabs {
    border: none !important;
}

.nav-tabs .nav-link {
    border: none !important;
    border: 0px solid transparent;
}

.nav-link img {
    opacity: 0.3 !important;
}

.nav-link:hover img {
    opacity: 0.7 !important;
}

.nav-link.active {
    background-color: rgba(200, 200, 200, 0.0) !important;
    border: none !important;
}

.nav-link.active img {
    opacity: 1 !important;
}

.tab-pane {
    color: white !important;
}

.tab-pane .titulo {
    position: relative;
}

.titulo .texto {
    text-align: start;
    font-weight: 400;
    font-size: 25px;
    padding-left: 0;
}

.titulo .number {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: var(--main-color)
}

.tab-content .lead {
    line-height: 2rem;
    border-top: 1px solid;
    font-size: 15px;
    font-weight: lighter;
    color: var(--secondary-color)
}

.tecnologia .sectionLabel{
    bottom:auto;
    top:120vh
}

/*-------------------------------------------------- Media Query tecnologia  --------------------------------------------------DONE*/


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */
@media only screen and (max-width: 392px) {
    .nav-link img {
        height: 25px;
    }
    .nav-link {
        padding: 2%;
    }
    .tecnologia h1 {
        font-size: 25px;
        padding-left: 5%;
    }
    .titulo .texto {
        text-align: start;
        font-size: 20px;
        padding-left: 0;
    }
}
/*ultra Small devices (portrait tablets and large phones, 392px and up) */
@media only screen and (min-width: 392px) {
    .nav-link img {
        height: 30px;
    }
    .nav-link {
        padding: 2%;
    }
    .tecnologia h1 {
        font-size: 25px;
        padding-left: 10%;
    }
    .titulo .texto {
        text-align: start;
        font-size: 20px;
        padding-left: 0;
    }
}
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    .nav-link img {
        height: 40px;
    }
    .tecnologia h1 {
        font-size: 30px;
        padding-left: 10%;
    }
    .titulo .texto {
        text-align: start;
        font-size: 25px;
        padding-left: 0;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav-link img {
        height: 50px;
    }
    .tecnologia h1 {
        font-size: 30px;
        padding-left: 0;
    }
    .titulo .texto {
        text-align: start;
        font-size: 25px;
        padding-left: 0;
    }
}
/* Large devices (laptops/desktops, 1050px and up) */
@media only screen and (min-width: 1050px) {
    .nav-link img {
        height: auto;
    }
    .tecnologia h1 {
        font-size: 30px;
        padding-left: 0;
    }
    .titulo .texto {
        text-align: start;
        font-size: 20px;
        padding-left: 0;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav-link img {
        height: auto;
    }
    .tecnologia h1 {
        font-size: 35px;
        padding-left: 0;
    }
    .titulo .texto {
        text-align: start;
        font-size: 25px;
        padding-left: 0;
    }
}



/*-------------------------------------------------- Seccion Alumnos --------------------------------------------------*/

.alumnos {
    padding-bottom: 10%;
}

.alumnos .title {
    padding-top: 7%;
    padding-left: 15%;
    text-align: start;
    color: rgb(133, 139, 148);
}

.alumnos .enfasis {
    color: white;
}

.alumnos .card {
    border-radius: 0px;
    background-color: rgba(79, 91, 106, 0.302);
}
.alumnos .imgContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: -25%;

}
.alumnos .card .imgContainer2 {
    width: 50%;
}
.alumnos .card .img-fluid {
    margin-top: -50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alumnos .card .flag {
    position: absolute;
    width: 20%;
    right: -5%;
    top:20%
}
.alumnos .card:hover .hidden {
    opacity: 1;
    height: auto;
}

.alumnos .card:hover .show {
    display: none!important;
}

.alumnos .hidden {
    font-size: 13px;
    opacity: 0;
    height: 0;
    padding-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.alumnos .show {
    display: block;
}

.alumnos .show img {
    width: 18%;
    padding-left: 0.5em;
}

.alumnos .card .card-title {
    color: white;
    font-size: 18px;
    text-align: center;
}

.alumnos .card-body{
    font-size: 18px;
    min-height: 10em;
}

.alumnos .card-body .nacionalidad {
    text-align: center;
    text-transform: uppercase;
}

.alumnos .card-body .testimonio {
    font-size: 13px;
    transition: opacity 2s ease-out;
}

.alumnos .card-footer {
    padding-bottom: 1em;
    padding-top: 1em;
    border-top: 0px solid;
    background-color: rgba(0, 0, 0, .0);
    color: var(--main-color);
    text-align: center;
}

.alumnos .card-footer a {
    font-size: 13px;
    color: var(--main-color);
    text-transform: uppercase;
}


/*-------------------------------------------------- Media Query Alumnos --------------------------------------------------DONE*/


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .alumnoCard {
        margin-top: 30%;
    }
    .containerTestimonios {
        margin: 5%;
    }
    .alumnos .title {
        padding-left: 10%;
        font-size: 25px;
    }
}


/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
    .alumnoCard {
        margin-top: 30%;
    }
    .containerTestimonios {
        margin: 5%;
    }
    .alumnos .title {
        padding-left: 10%;
        font-size: 25px;
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .alumnoCard {
        margin-top: 40%;
    }
    .containerTestimonios {
        margin: 5%;
    }
    .alumnos .title {
        padding-left: 15%;
        font-size: 25px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .alumnoCard {
        margin-top: 10%;
    }
    .containerTestimonios {
        margin: 5%;
    }
    .alumnos .title {
        padding-left: 15%;
        font-size: 25px;
    }
}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
    .alumnoCard {
        margin-top: 7%;
    }
    .containerTestimonios {
        margin: 5%;
    }
    .alumnos .title {
        padding-left: 15%;
        font-size: 30px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .alumnoCard {
        margin-top: 10%;
    }
    .containerTestimonios {
        margin: 5%;
    }
    .alumnos .title {
        padding-left: 15%;
        font-size: 30px;
    }
}


/*-------------------------------------------------- Seccion Eventos  --------------------------------------------------*/

.eventos {
    padding-bottom: 15%;
}

.eventos .title {
    padding-top: 7%;
    padding-left: 15%;
    text-align: start;
    color: rgb(255, 255, 255);
}

.eventos .card {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(42, 54, 72, 0.7));
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid;
    min-height: 400px;
}

.eventos .card .img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 15%;
    padding-bottom: 10%;
}

.eventos .card:hover{
    background-image: linear-gradient(rgba(42, 54, 72, 1), rgba(42, 54, 72, 0.7));
    background-color: rgba(0, 0, 0, 0);
}

.eventos .card:hover .hidden {
    display: block!important;
}

.eventos .card:hover .show {
    display: none!important;
}

.eventos .hidden {
    display: none!important;
}

.eventos .show {
    display: block!important;
}

.eventos .show img {
    width: 18%;
    padding-left: 0.5em;
}

.eventos .card .card-title {
    color: white;
    font-size: 18px;
    text-align: center;
}

.eventos .card-body .resumen {
    padding-top: 2em;
    font-size: 15px;
    text-align: center;
}

.eventos .card-body .fecha {
    padding-top: 0em;
    text-transform: uppercase;
    font-size: 15px;
}

.eventos .card-body .ampliado {
    text-align: center;
    font-size: 15px;
    transition: opacity 2s ease-out;
}

.eventos .card-body .titulo {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 15px;
    transition: opacity 2s ease-out;
}


/*-------------------------------------------------- Media Query Eventos  --------------------------------------------------*/


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {}


/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}


/*-------------------------------------------------- Seccion  Mas información--------------------------------------------------*/

.masInformacion {
    padding-bottom: 10%;
}

.masInformacion h2 {
    opacity: 0.8;
    text-align: start;
    font-weight: 300;
    color: white;
    font-size: 16px;
    line-height: 2em;
    padding-bottom: 10%;
}


/*-------------------------------------------------- Seccion footer--------------------------------------------------*/

.footer h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: end;
    color: white;
    padding-bottom: 1em;
}

.footer h2 {
    font-size: 18px;
    font-weight: lighter;
    text-align: end;
    color: white;
    padding-top: 0;
    padding-bottom: 1.5em;
}

ul.social {
    width: 100%;
    text-align: start;
    padding-bottom: 10%;
}

ul.social>li {
    display: inline-block;
}

ul.social>li>a {
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 36px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin: 0 3px 3px 0;
}

ul.social>li>a:hover {
    text-decoration: none;
    opacity: 0.5;
}


/*-------------------------------------------------- Media Query footer--------------------------------------------------*/

/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .footer .mail {
        font-size: 20px;
    }
}


/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
    .footer .mail {
        font-size: 25px;
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .footer .mail {
        font-size: 30px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .footer .mail {
        font-size: 30px;
    }
}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
    .footer .mail {
        font-size: 40px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .footer .mail {
        font-size: 40px;
    }
}