@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --main-color: #00B0CE;
    --secondary-color:#616161;
    --hover-btn-color:#0391ad
}
.secondaryColor{
    color:var(--secondary-color)
}
.h-100vh {
    min-height: 100vh
}

.p-relative {
    position: relative;
}

.sectionLabel {
    position: absolute;
    bottom: 5em;
    right: 5em;
    width: auto;
}

.rotatedText{
    transform: rotate(-90deg) translateX(100%);
    transform-origin: top right;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotatedText>.text {
    text-align: end;
    color: white;
    font: normal normal normal 22px/25px Roboto;
    letter-spacing: 0.66px;
    color: #FFFFFF;
    opacity: 1;    font-weight: 400;
}
.rotatedText>.textBlack {
    text-align: end;
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.rotatedText>.text::before {
    display: inline-block;
    transform: translateY(-0.25em);
    content: "";
    border-top: .1rem solid white;
    width: 9rem;
    margin: 0 1rem;
}
.rotatedText>.textBlack::before {
    display: inline-block;
    transform: translateY(-0.25em);
    content: "";
    border-top: .1rem solid black;
    width: 9rem;
    margin: 0 1rem;
}

.rotatedText>.text:hover {
    color: var(--main-color);
}
.rotatedText>.textBlack:hover {
    color: var(--main-color);
}

.whatsappButtonContainer {
    position: fixed;
    bottom: 2em;
    right: 0;
    z-index: 1030;
    background-color: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px 0px 0px 5px;
}

.whatsappButtonContainer>.dialog {
    display: inline-block;
    position: relative;
    background: white;
    border-radius: 7px;
    margin: 1.5em 1.5em 1.5em 1.5em;
}

.whatsappButtonContainer>.dialog::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent white;
    border-width: 7px 0 7px 10px;
    top: 50%;
    right: -7px;
    margin-top: -7px;
}

.whatsappButtonContainer>.dialog>.text {
    padding: 1em 0.5em;
    margin-bottom: 0;
    text-align: left;
    font: normal normal normal 12px/11px Inter;
    letter-spacing: 0px;
    color: #0F2037;
    opacity: 1;
}

.whatsappButtonContainer>.logo {
    width: 4em;
    margin-right: 1em
}

.transition {
    height: 10vh;
    background: rgb(9, 21, 38);
    background: linear-gradient(180deg, rgba(9, 21, 38, 1) 0%, rgba(0, 13, 35, 1) 49%);
}

.weight-100{
    font-weight: 100;
}
.weight-200{
    font-weight: 200;
}
.weight-300{
    font-weight:300 ;
}
.weight-400{
    font-weight: 400;
}
.weight-500{
    font-weight:500 ;
}
.weight-600{
    font-weight:600 ;
}
.weight-700{
    font-weight:700 ;
}
.weight-800{
    font-weight:800 ;
}

/*--------------------------------------------------navBar--------------------------------------------------*/

.navbar {
    padding-top: 0px;
}

.navbar-nav {
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-item {
    color: white;
    text-align: right;
    margin: 0;
    transition: background-color 0.5s;
}

.navbar-toggler{
    align-items: flex-end;
    text-align: end;
    border: none;
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(200, 200, 200, 0.0);
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 0;
    transition: background-color 0.5s
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}
#navBarBrandText{
    display: none;
}
.nav-item:hover{
    background-color: rgba(255, 255, 255, .1);
}
.nav-link{
    font: normal normal normal 18px/25px Inter;
}
/*--------------------------------------------------Media Query navBar--------------------------------------------------DONE*/

@media only screen and (max-width: 392px) {
    .navBarContainer {
        background-color: rgba(200, 200, 200, 0.5);
    }
    .col-xxs {
        width: 100% !important;
    }
    .navbar-brand {
        padding-left: 0.5em;
        margin-right: 0;
    }
    .nav-item {
        padding-right: 5%;
        font-size: 20px;
        text-align: right;
    }
    .navbar-nav {
        background-color: rgba(200, 200, 200, 0.0) !important;
    }
    .navbar-toggler {
        width: auto;
        background-color: rgba(0, 0, 0, .0) !important;
    }
}

@media only screen and (min-width: 392px) {
    .navbar-brand {
        padding-left: 0.5em;
        margin-right: 0;
    }
    .nav-item {
        padding-right: 5%;
        font-size: 15px;
        text-align: right;
    }
    .navbar-toggler {
        width: 50%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 576px) {
    .navbar-brand {
        padding-left: 1em;
    }
    .nav-item {
        padding-right: 5%;
        font-size: 15px;
        text-align: right;
    }
    .navbar-toggler {
        width: 33.33333%;
    }
}


/* Medium devices (landscape tablets, 800 and up) */

@media only screen and (min-width: 768px) {
    .navbar-brand {
        padding-left: 3em;
    }
    .nav-item {
        padding-right: 5%;
        font-size: 15px;
        text-align: right;
    }
    .navbar-toggler {
        width: 25%;
    }
}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
    .navbar-brand {
        padding-left: 5em;
    }
    .nav-item {
        padding-right: 30%;
        font-size: 15px;
        text-align: right;
    }
    .navbar-toggler {
        width: 25%;
    }
    .navbar-toggler img {
        margin-right: 30%
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .navbar-brand {
        padding-left: 5em;
    }
    .nav-item {
        padding-right: 30%;
        font-size: 20px;
        text-align: right;
    }
    .navbar-toggler {
        width: 25%;
    }
    .navbar-toggler img {
        margin-right: 30%
    }
}

.btn-primary{
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #F4F4F4;
    opacity: 1;
    background-color: var(--main-color);
    border:transparent;
    border-radius: 0;
    padding: 14px 22px;
}
.btn-primary:hover{
    border:transparent;
    background-color: var(--hover-btn-color);


}

/*-------------------------------------------------- Seccion footer--------------------------------------------------*/

.footer h1 {
    font-weight: bold;
    text-align: end;
    color: white;
    padding-bottom: 1em;
}

.footer h2 {
    font: normal normal 300 16px Inter;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;  
    text-align: end;
    padding-top: 0.5em;
}

ul.social {
    width: 100%;
    text-align: start;
    padding-bottom: 10%;
}

ul.social>li {
    display: inline-block;
}

ul.social>li>a {
    text-align: center;
    display: inline-block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 36px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin: 0 3px 3px 0;
}

ul.social>li>a:hover {
    text-decoration: none;
    opacity: 0.5;
}

/*-------------------------------------------------- Media Query footer--------------------------------------------------*/

/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .footer .mail {
        font-size: 20px;
    }
}

/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
    .footer .mail {
        font-size: 25px;
    }
}

/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .footer .mail {
        font-size: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .footer .mail {
        font: normal normal bold 37px Inter;
        letter-spacing: 0px;
 
    }
}

/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
    .footer .mail {
        font: normal normal bold 37px Inter; 
        letter-spacing: 0px;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .footer .mail {
        font: normal normal bold 37px/ Inter;
        letter-spacing: 0px;

    }
}