*{
box-sizing: border-box;
font-family: 'Montserrat';
}
html {
    scroll-behavior: smooth;
  }
body {
    font-size: 12px;
    margin: 0;
    font-family:  Arial, Helvetica, sans-serif;
}
body h1{
    font-size:30px;
    font-weight: bold;
    text-align: center;
}
body A {
    color: white;
    text-decoration: none;
}
body p {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
/*----------------------------------MEDIA QUERY HEADER -------------------------------DONE*/
.sidebar{
    margin: 0px;
    padding:0px;
}
.navbar{
    padding-top: 0px;
}
.navbar-brand{
    padding-top: 20px;
}
.navbar-nav{
    height: 100vh;
    background-color:rgba(200, 200, 200, 0.5);
}
.nav-item{
    color: white;
    text-align: right;
    margin: 0;
}
.navbar-toggler{
    align-items: flex-end;
    text-align: end;
    border: none;
    border-radius: 0;
    border-color:rgba(0, 0, 0, 0) ;
    background-color: rgba(200, 200, 200, 0.0);
    padding-top: 20px;
    padding-bottom: 20px;
    outline:0;
    width: 25%;
}
@media only screen and (min-width: 545px) {
     
}   
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar-brand{
        padding-left: 0em;
    }
}  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 990px) {
    .navbar-brand{
        padding-left: 3em;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1050px) { 
    .navbar-brand{
        padding-left: 5em;
    }
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar-brand{
        padding-left: 5em;
    }
    .nav-item{
        padding-right: 30%;
        font-size: 20px;
        text-align: right;
    }
}
.main{
    background-color:#002e5d;
    background-image: url(https://cdn4.buysellads.net/uu/1/81016/1609783196-authentic-260x200-variation-3.jpg);
}
.bienvenido {
    background-image: url(https://github.com/MarcosParengo/Proflight/blob/master/assets/images/background/pf%20background%20home.png?raw=true);
    background-size: 100% ;
}.bienvenido .texto{
    padding-top: 15%;
    padding-left: 15%;
}.bienvenido h1{
    text-align: start;
    font-size: 60px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5%;
}.bienvenido h2{
    color: rgb(27,76,96);
    padding-top: 10%;
    padding-right: 25%;
    font-weight: bolder;

}
.bienvenido p.lead{
    text-align: left;
    color: white;
    padding-right: 25%;
    line-height : 40px;
}
@media only screen and (max-width: 768px) {
    .propuesta h2{
        text-align: left;
        font-size: 25px;
    }  
    .propuesta img{
        padding:1.5em
    }
} 
@media only screen and (min-width: 768px) {
      
}  
@media only screen and (min-width: 830px) {
    .propuesta h2{
        text-align: left;
        font-size: 17px;
    }  
}
@media only screen and (min-width: 992px) { 
    .propuesta h2{
        text-align: left;
        font-size: 17px;
    } 
} 
footer {
    background: #d51e30;
}
footer h1 {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    color :white;
    padding-bottom: 0em;
}
footer h3 {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    color :white
}
footer p {
    color: white;
    text-decoration: none;
    line-height: 1em;
    font-size: 18px;
}
footer img{
    margin-bottom: 1em;
}
footer span.bolder{
    font-weight: bold;
}
footer span.legal{
    font-size:10px;line-height:0em
}
footer span.last{
    font-weight: bold;
    font-size: 14px;
}
footer div.encontranos{
    margin-top: 0em; margin-bottom: 0em; margin-left:10em;margin-right:10em
}
footer .footerP{
    margin-right: 10em
}
@media only screen and (max-width: 765px) {
    footer div.encontranos{
        margin-left:0em;margin-right:0em
    }
    footer .footerP{
        margin-right: 0em
    }
} 
@media only screen and (min-width: 768px) {
    footer .footerP{
        margin-right: 0em
    }
}  
@media only screen and (min-width: 830px) {
    footer .footerP{
        margin-right: 0em
    }
}