* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
}

body h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

body A {
    color: white;
    text-decoration: none;
}

body p {
    color: white;
    text-decoration: none;
    font-size: 18px;
}



/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/

.fullPage {
    height: 100vh
}

.home {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 81, 121, 1) 31%, rgba(0, 212, 255, 1) 100%);
}
.home .content{
    background-image: url(../images/background/bg.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home .footer{
    background-image: url(../images/background/footer.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;
}
.img1{
    margin-top:12.5vh;
    width: 24.6%;
    margin-left: 19.7%;
}
.img2{
    margin-top:22.3vh;
    width: 37.65%;
    margin-left: 5.6%;
}
.img3{
    margin-top:9.2vh;
    width: 22.57%;
    margin-left: 22.57%;
}
.img4{
    margin-top:22.3vh;
    width: 30%;
    margin-left: 5.15%;
}
.img5{
    margin-top:10.78vh;
    width: 22.4%;
    margin-left: 22.65%;
}
.img6{
    margin-top:9.14vh;
    width: 32.34%;
    margin-left: 7%;
}
.img7{
    margin-top:24.5vh;
    width: 22.6%;
    margin-left: 22.6%;
}
.img8{
    margin-top:15.1vh;
    width: 36.5%;
    margin-left: 5%;
}
.img9{
    margin-top:24.5vh;
    width: 22.4%;
    margin-left: 23.125%;
}
.img10{
    margin-top:3.74vh;
    width: 36.17%;
    margin-left: 3%;
}
.img11{
    margin-top:25.75vh;
    width: 21.6%;
    margin-left: 24.2%;
}
.img12{
    margin-top:16.8vh;
    width: 35.15%;
    margin-left: 3%;
}
.img13{
    margin-top:23.12vh;
    margin-left: 23.2%;
    width: 22.1%;
}
.img14{
    margin-top:13.5vh;
    width: 37.42%;
    margin-left: 4.5%;
}
.img15{
    margin-top:27.2vh;
    margin-left: 23.3%;
    width: 23.3%;
}
.img16{
    margin-top:17.6vh;
    width: 37.42%;
    margin-left: 4.5%;
}