* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
}

body h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

body A {
    color: white;
    text-decoration: none;
}

body p {
    color: white;
    text-decoration: none;
    font-size: 18px;
}



/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/

.home {
    background-image: url(https://raw.githubusercontent.com/MarcosParengo/Proflight/master/assets/images/background/pf%20background%20porqueelegirnos.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.fullPage {
    height: 100vh;
    width: 100%;
    border: 3px;
}

.title {
    font-size: 60px;
    color: white;
    text-align: start;
}

.paragraph {
    font-size: 15px;
    line-height: 2rem;
}

.button {
    display: inline-block;
    font-size: 13px;
    background-color: white;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border-radius: 25px;
    color: purple;
    margin-right: 0.5rem;
}

.button:hover {
    color: rgb(138, 177, 230);
    text-decoration: none;
    opacity: 0.5;
}

.tab-tittle {
    font-size: 10px;
    color: antiquewhite;
    text-transform: uppercase;
}


/*--------------------------------------------------Media Query landingHome --------------------------------------------------DONE*/


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .home {
        background-size: auto 100%;
    }
    .fullPage {
        height: auto;
        padding: 40% 0;
        width: auto;
    }
    .title {
        font-size: 30px;
        color: white;
        text-align: start;
    }
    .paragraph {
        font-size: 15px;
        line-height: 2rem;
    }
}


/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
    .home {
        background-size: 100% 100%;
    }
    .fullPage {
        height: auto;
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .home {
        background-size: 100% 100%;
    }
    .fullPage {
        height: auto;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .home {
        background-size: 100% 100%;
    }
    .fullPage {
        height: 100vh;
    }
    .fullPage {
        height: 70vh;
    }
    .title {
        font-size: 60px;
        color: white;
        text-align: start;
    }
    .paragraph {
        font-size: 15px;
        line-height: 2rem;
    }
}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
    .home {
        background-size: 100% 100%;
    }
    .fullPage {
        height: 100vh;
    }
    .title {
        font-size: 60px;
        color: white;
        text-align: start;
    }
    .paragraph {
        font-size: 15px;
        line-height: 2rem;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .home {
        background-size: 100% 100%;
    }
    .fullPage {
        height: 100vh;
    }
    .title {
        font-size: 60px;
        color: white;
        text-align: start;
    }
    .paragraph {
        font-size: 15px;
        line-height: 2rem;
    }
}


/*---------------------------------------------------------Seccion Tabs----------------------------------------------------------------*/

.tabs .parent {
    width: 80%
}

.tabs h1 {
    text-align: start;
    font-size: 30px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1);
}

.tabs .numero {
    color: rgb(141, 150, 231);
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tabs h2 {
    border-top: 1px solid white;
    text-align: start;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    padding-bottom: 5%;
    padding-top: 5%;
    line-height: 2rem;
}

.tabs .specs {
    text-align: start;
    border-bottom: 1px solid;
    border-color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.tabs .nonUper {
    text-align: start;
    text-transform: none;
    font-size: 15px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.tabs  .nav-tabs {
    border: none !important;
}

.tabs  .nav-tabs .nav-link {
    border: none !important;
    border: 0px solid transparent;
}

.tabs  .nav-link img {
    opacity: 0.3 !important;
    width: auto
}

.tabs  .nav-link:hover img {
    opacity: 0.7 !important;
}

.tabs  .nav-link.active {
    background-color: rgba(200, 200, 200, 0) !important;
    border: none !important;
}

.tabs  .nav-link.active img {
    opacity: 1 !important;
}

.tab-pane {
    color: white !important;
}

.tab-pane .titulo {
    position: relative;
}

.titulo .texto {
    text-align: start;
    font-size: 30px;
    padding-left: 0;
}

.titulo .number {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
    color: rgb(53, 187, 215);
}

.tab-content .lead {
    line-height: 2rem;
    border-top: 1px solid;
    font-size: 15px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 1);
}

.tab-content img {
    display: block;
    width: 100%;
}


/*-------------------------------------------------- Media Query seccion tabs --------------------------------------------------TODO*/


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .tabs  .nav-link {
        height: auto;
    }
    .tabs {
        height: auto;
    }
    .tabs .parent {
        width: 95%
    }
    .nav-link img {
        height: 30px
    }
}


/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
    .tabs  .nav-link {
        height: auto;
    }
    .tabs {
        height: auto;
    }
    .tabs .parent {
        width: 95%
    }
    .nav-link img {
        height: 40px
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .tabs  .nav-link {
        height: auto;
    }
    .tabs {
        height: auto;
    }
    .tabs .parent {
        width: 95%
    }
    .nav-link img {
        height: auto
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .tabs .nav-link {
        height: auto;
    }
    .tabs {
        height: auto;
    }
    .tabs .parent {
        width: 70%
    }
    .tabs .nav-link img {
        height: auto
    }
}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 992px) {
    .tabs .nav-link {
        padding: 1%;
    }
    .tabs {
        height: 100vh;
    }
    .tabs .parent {
        width: 80%
    }
    .tabs .nav-link img {
        height: auto
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .tabs .nav-link {
        padding: 1%;
    }
    .tabs {
        height: 100vh;
    }
    .tabs .parent {
        width: 80%
    }
    .tabs .nav-link img {
        height: auto
    }
}


/*-------------------------------------------------- Seccion footer--------------------------------------------------TODO*/

.footer h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: end;
    color: white;
    padding-bottom: 1em;
}

.footer h2 {
    font-size: 18px;
    font-weight: lighter;
    text-align: end;
    color: white;
    padding-top: 0;
    padding-bottom: 1.5em;
}

ul.social {
    width: 100%;
    text-align: start;
    padding-bottom: 10%;
}

ul.social>li {
    display: inline-block;
}

ul.social>li>a {
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 36px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin: 0 3px 3px 0;
}

ul.social>li>a:hover {
    text-decoration: none;
    opacity: 0.5;
}


/*-------------------------------------------------- Media Query footer--------------------------------------------------TODO*/


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .footer .mail {
        font-size: 20px;
        padding-bottom: 1em;
    }
}


/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
    .footer .mail {
        font-size: 25px;
        padding-bottom: 1em;
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}