* {
	box-sizing: border-box;
	font-family: 'Montserrat';
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 12px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

body h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

body A {
	color: white;
	text-decoration: none;
}

body p {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/

.home {
	background-image: url(../images/background/bgDesktop.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
}

/*--------------------------------------------------Media Query landingHome --------------------------------------------------DONE*/

@media only screen and (min-width: 768px) {
	.home {
		background-size: 100% 100%;
	}
}

/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
	.home {
		background-size: 100% 100%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
	.home {
		background-size: 100% 100%;
	}
}

/*-------------------------------------------------- Seccion landing--------------------------------------------------*/

.circle {
	position: absolute;
	width: 70%;
	right: 0;
	transform: translateX(50%) translateY(-10%);
}

.circle img {
	width: 100%;
}

.title {
	text-align: right;
	font: normal normal bold 68px/32px Roboto;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}

.subtitle {
	text-align: right;
	font: normal normal normal 30px/60px Roboto;
	letter-spacing: 0px;
	color: #b7b7b7;
}

.fullPage {
	min-height: 100vh;
	border: 3px;
}

.filtrar {
	text-align: center;
	font: normal normal normal 16px/20px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	opacity: 1;
}

.filtrar:hover {
	color: #00b0ce;
}
.filterContainer {
	font-size: 20px;
	min-height: calc(4.5rem + 1em + 40px);
}

.countryFlagFilter {
	width: 32px;
	height: 32px;
	cursor: pointer;
	margin-right: 72px;
}
.countryFlagFilter:last-of-type {
	margin-right: 0;
}

.accordion-button::after {
	display: none;
}

.carousel-indicators [data-bs-target] {
	background-color: white;
	opacity: 0.5;
	border-top: 1px solid;
	border-bottom: 1px solid;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	transition: opacity 0s, background-color 0s;
}

.carousel-indicators .active {
	background-color: #00b0ce;
	opacity: 1;
}
.carousel-control-next {
	justify-content: end;
	width: auto;
}
.carousel-control-prev {
	justify-content: start;
	width: auto;
}
.accordion-button:not(.collapsed) {
	border: 0px transparent;
	background-color: rgba(0, 0, 0, 0);
}

.accordion-item {
	border: 0px transparent;
	background-color: rgba(0, 0, 0, 0);
}

.accordion-button {
	border: 0px transparent;
	background-color: rgba(0, 0, 0, 0);
}
.paisSeleccionado {
	text-align: center;
	font: normal normal 800 39px/32px Inter;
	letter-spacing: 1.17px;
	color: #ffffff;
	opacity: 1;
	padding-top: 42px;
	padding-bottom: 35px;
	text-transform: capitalize;
}
.testimonio .title {
	text-align: left;
	font: normal normal normal 39px/32px Roboto;
	letter-spacing: 1.17px;
	color: #ffffff;
	opacity: 1;
}

.testimonio .subtitle {
	font-size: 35px;
	text-align: start;
	color: rgb(143, 146, 150);
	line-height: 3rem;
}

.testimonio .origen {
	text-align: left;
	font: normal normal normal 10px/38px Inter;
	letter-spacing: 0px;
	color: #ffffff;
	text-transform: uppercase;
	opacity: 0.3;
	letter-spacing: 0.4em;
}

.testimonio .paragraph {
	text-align: left;
	font: normal normal 300 14px/30px Inter;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	max-width: 58ch;
}

.testimonio .line {
	border-bottom: 1px solid;
	border-color: rgb(140, 146, 154);
	margin-bottom: 3rem;
	display: inline-block;
	width: 49.8%;
}

.contenedorTestimonio {
	width: 70%;
}

.chevronLeftContainer,
.chevronRightContainer {
	padding:0;
	font-size:18px;
	position: absolute;
	cursor: pointer;
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	transform: translateX(-100%);
}
.chevronLeftContainer {
	left: 5em;
}
.chevronRightContainer {
	right: 5em;
	
}

.chevronLeftContainer .image,
.chevronRightContainer .image{
	width:11px;
}

/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 768px) {
	.landing {
		padding: 0 21px;
	}
	.landingImageContainer {
		position: relative;
	}
	.landingImageContainer .title {
		text-align: left;
		font: normal normal 500 45px/38px Roboto;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
		position: absolute;
		bottom: 0;
		left: 16px;
	}
	.subtitle {
		text-align: left;
		font: normal normal 500 20px/32px Roboto;
		letter-spacing: 0.4px;
		color: #ffffff;
		opacity: 1;
		margin-top: 47px;
		margin-left: 16px;
	}
	/*Filter*/
	.mobile .filterBtn {
		background-color: transparent;
		border: none;
		text-align: left;
		font: normal normal normal 18px/24px Inter;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
		opacity: 1;
		padding-left: 0;
	}
	.dropdown-toggle::after {
		transform: rotate(-90deg);
		transition: all 0.5s;
	}
	.dropdown-toggle.show::after {
		transform: rotate(0deg);
	}
	.dropdown-menu.show {
		width: calc(100% - 38px - 38px);
		background: #707070 0% 0% no-repeat padding-box;
		opacity: 1;
		border-radius: 0;
		animation: 0.5s opacityGrow forwards;
	}
	.dropdown-item {
		width: calc(100% - 20px);
		margin-left: 20px;
		border-bottom: 1px solid #FFFFFF54;
		text-align: left;
		font: normal normal normal 17px/22px Inter;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 0.8;
		text-transform: capitalize;
		padding-left: 0;
	}
	.dropdown-item img {
		width: 26px;
	}
	.mostrandoTestimonios {
		text-align: left;
		font: normal normal normal 16px/40px inter;
		letter-spacing: 0px;
		color: #ffffffB2;
		text-transform: capitalize;
	}
	.mostrandoTestimonios img {
		width: 28px;
		margin-right: 14px;
	}
	/**/
	.contenedorTestimonio {
		width: 95%;
	}
	.testimonio .subtitle {
		font-size: 35px;
		text-align: start;
		line-height: 3rem;
	}
	.h-0 {
		height: 0;
	}
	.testimonioCardContainer {
		margin-top: 25%;
	}
	.testimonioCardContainer:first-of-type {
		margin-left: 8%;
	}
	.testimonioCardContainer:last-of-type {
		margin-right: 8%;
	}
	.testimonioCard {
		background: #CECECE18 0% 0% no-repeat padding-box;
		height: 100%;
	}
	.testimonioCard .imageContainer {
		transform: translateY(-50%);
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.testimonioCard .imageContainer .image {
		position: relative;
		width: 50%;
		padding-top: 50%;
	}
	.testimonioCard .imageContainer .image .profile {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border-radius: 100%;
	}
	.testimonioCard .imageContainer .image .flag {
		position: absolute;
		object-fit: cover;
		width: 31px;
		top: 50%;
		right: 0;
		transform: translate(50%, -50%);
	}
	.testimonioCard .name {
		text-align: center;
		font: normal normal normal 15px/11px Inter;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 1;
		margin-top: calc(25% + 23px);
	}
	.testimonioCard .testimonio {
		text-align: left;
		font: normal normal normal 13px/22px Inter;
		letter-spacing: 0px;
		color: #ffffff;
		opacity: 0.9;
		margin-top: 23px;
		padding: 0 18px;
	}

	.overflow-auto {
		overflow-x: auto;
	}
	.desktop {
		display: none;
	}
	.home {
		background-image: url(../images/background/bgMobile.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.sameLeft {
		padding-left: 38px;
	}
	.sameRight {
		padding-right: 38px;
	}
	.footer{
		padding:0 38px
	}
	.footer h1{
		padding-top: 0px!important;
	}
	@keyframes opacityGrow {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
	.filtrar {
		text-align: start;
		font-size: 20px;
	}
	.testimonio .subtitle {
		font-size: 35px;
		text-align: start;
		line-height: 3rem;
	}
	.contenedorTestimonio {
		width: 90%;
	}
	.mobile {
		display: none;
	}
}

/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
	.filtrar {
		text-align: start;
		font-size: 20px;
	}
	.testimonio .subtitle {
		font-size: 35px;
		text-align: start;
		line-height: 3rem;
	}
	.contenedorTestimonio {
		width: 80%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
	.filtrar {
		text-align: start;
		font-size: 20px;
	}
	.testimonio .subtitle {
		font-size: 35px;
		text-align: start;
		line-height: 3rem;
	}
	.contenedorTestimonio {
		width: 80%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1350px) {
	.filtrar {
		text-align: start;
		font-size: 20px;
	}
	.testimonio .subtitle {
		font-size: 35px;
		text-align: start;
		line-height: 3rem;
	}
	.contenedorTestimonio {
		width: 70%;
	}
}

/*-------------------------------------------------- Seccion selector de testimonios --------------------------------------------------*/

.alumnos {
	padding-bottom: 10%;
}

.alumnos .title {
	padding-top: 7%;
	padding-left: 15%;
	text-align: start;
	color: rgb(133, 139, 148);
}

.alumnos .enfasis {
	color: white;
}

.alumnos .card {
	background-color: rgb(35, 47, 63);
	border-radius: 0;
}

.alumnos .card .profilePic {
	display: block;
	width: 60%;
	margin-top: -30%;
}

.alumnos .card .flag {
	position: absolute;
	width: 41px;
	right: 0;
	top: 50%;
	transform: translateX(50%) translateY(-50%);
}

.alumnos .show {
	display: block;
}

.alumnos .show img {
	width: 18%;
	padding-left: 0.5em;
}

.alumnos .card .card-title {
	text-align: center;
	font: normal normal 300 16px/9px Inter;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}

.alumnos .card-body .nacionalidad {
	text-align: center;
	text-transform: uppercase;
	padding-top: 2em;
	padding-bottom: 2em;
}

.alumnos .card-body .testimonio {
	font-size: 15px;
	transition: opacity 2s ease-out;
}

.alumnos .card-footer {
	padding-bottom: 1em;
	padding-top: 1em;
	border-top: 0px solid;
	background-color: rgba(0, 0, 0, .0);
	color: rgb(53, 187, 215);
	text-align: center;
}

.alumnos .card-footer a {
	text-align: center;
	font: normal normal normal 10px/29px Inter;
	letter-spacing: 0px;
	color: #00b0ce;
	text-transform: uppercase;
	opacity: 1;
}

/*-------------------------------------------------- Media Query selector de testimonios --------------------------------------------------DONE*/

/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
	.alumnoCard {
		margin-top: 20%;
	}
	.containerTestimonios {
		margin: 5%;
	}
	.alumnos .title {
		padding-left: 10%;
		font-size: 25px;
	}
}

/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
	.alumnoCard {
		margin-top: 20%;
	}
	.containerTestimonios {
		margin: 5%;
	}
	.alumnos .title {
		padding-left: 10%;
		font-size: 25px;
	}
}

/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
	.alumnoCard {
		margin-top: 20%;
	}
	.containerTestimonios {
		margin: 5%;
	}
	.alumnos .title {
		padding-left: 15%;
		font-size: 25px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
	.alumnoCard {
		margin-top: 5%;
	}
	.containerTestimonios {
		margin: 5%;
	}
	.alumnos .title {
		padding-left: 15%;
		font-size: 25px;
	}
}

/* Large devices (laptops/desktops, 1050px and up) */

@media only screen and (min-width: 1050px) {
	.alumnoCard {
		margin-top: 5%;
	}
	.containerTestimonios {
		margin: 5%;
	}
	.alumnos .title {
		padding-left: 15%;
		font-size: 30px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
	.alumnoCard {
		margin-top: 5%;
	}
	.containerTestimonios {
		margin: 5%;
	}
	.alumnos .title {
		padding-left: 15%;
		font-size: 30px;
	}
}

/*-------------------------------------------------- Seccion footer--------------------------------------------------*/

.footer {
	min-height: 80vh;
}
