* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
}

body h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

body A {
    color: white;
    text-decoration: none;
}

body p {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


/*-------------------------------------------------- Seccionn landingHome --------------------------------------------------*/

.home {
    background-color: white;
}


/*-------------------------------------------------- Seccion landing--------------------------------------------------*/

.fullPage {
    height: 100vh;
    width: 100%;
    border: 3px;
}

.top {
    height: 45%;
    border-color: lightgray;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
}

.bottom {
    height: 55%;
    border-color: lightgray;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
}

.bottom .title {
    text-align: start;
    font-size: 15px;
    color: black;
}

.bottom .subtitle {
    text-align: start;
    font-size: 15px;
    color: darkgray;
}

.pais {
    font: normal normal bold 70px Roboto;
    letter-spacing: 0px;
    color: #00B0CE;
    opacity: 1;
    text-align: start;
}

.descripcion {
    font: normal normal 600 39px Roboto;
    letter-spacing: 0px;
    color: #0B131E;
    opacity: 1;
}

.ubicacion {
    font: normal normal normal 13px Inter;
    letter-spacing: 0px;
    color: grey;
    text-transform: uppercase;
}
.bandera {
    width: 2rem;
    height: 2rem
}

.inscribirseBtn {
    background-color: skyblue;
    text-transform: uppercase;
    border-color: skyblue;
    border-radius: 50px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.tipoDeEvento {
    text-transform: capitalize;
    font-size: 11px;
    color: darkgray;
    font-weight: 700;
}


/*ultra x2 Small devices (portrait tablets and large phones, until 392px) */

@media only screen and (max-width: 392px) {
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 3rem;
    }
    .top {
        height: auto;
        border-width: 0px 0px 1px 1px;
    }
    .bottom {
        height: auto;
        border-width: 0px 0px 0px 1px;
    }
}


/*ultra Small devices (portrait tablets and large phones, 392px and up) */

@media only screen and (min-width: 392px) {
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 3rem;
    }
    .top {
        height: auto;
        border-width: 0px 0px 1px 1px;
    }
    .bottom {
        height: auto;
        border-width: 0px 0px 0px 1px;
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .title {
        font-size: 40px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 3rem;
    }
    .top {
        height: auto;
        border-width: 0px 0px 1px 1px;
    }
    .bottom {
        height: auto;
        border-width: 0px 0px 0px 1px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .title {
        font-size: 60px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 3rem;
    }
    .top {
        height: auto;
        border-width: 0px 0px 1px 1px;
    }
    .bottom {
        height: auto;
        border-width: 0px 0px 0px 1px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .title {
        font-size: 60px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 3rem;
    }
    .top {
        height: 45%;
        border-width: 0px 0px 1px 1px;
    }
    .bottom {
        height: 55%;
        border-width: 0px 0px 0px 1px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .title {
        font-size: 60px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 3rem;
    }
    .top {
        height: 45%;
        border-width: 0px 0px 1px 1px;
    }
    .bottom {
        height: 55%;
        border-width: 0px 0px 0px 1px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1350px) {
    .title {
        font-size: 60px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 2rem;
    }
    .top {
        height: 45%;
        border-width: 0px 0px 1px 1px;
    }
    .bottom {
        height: 55%;
        border-width: 0px 0px 0px 1px;
    }
}